.toolbar-spacer {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.float-right {
    float: right;
    margin-top: 10%;
    margin-right: 1%;
}

.table-container {
    margin-right: 2%;
    margin-left: 3%;
    height: 85%;
    width: 90%;
}