<mat-toolbar color="primary">
  <span>IConstituent Message App</span>

  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-spacer"></span>

  <span>Anthony Serrano</span>
</mat-toolbar>

<div class="float-right">
  <button mat-fab color="primary" aria-label="Create New Message" (click)="sendNewMessage($event)">
    <mat-icon>create</mat-icon>
  </button>
</div>

<dx-data-grid id="messages-data-grid"
    [dataSource]="dataSource"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>
    <dxo-search-panel
        [visible]="true"
        [highlightCaseSensitive]="true"
    ></dxo-search-panel>
    <dxo-group-panel
        [visible]="true"
    ></dxo-group-panel>
    <dxo-grouping
        [autoExpandAll]="false"
    ></dxo-grouping>

    <dxi-column dataField="id"></dxi-column>
    <dxi-column dataField="subject" dataType="string"></dxi-column>
    <dxi-column dataField="content" dataType="string"></dxi-column>
    <dxi-column dataField="author" dataType="string"></dxi-column>
    <dxi-column dataField="sentAt" dataType="date"></dxi-column>
</dx-data-grid>